DATABASE_URL=postgresql://neondb_owner:npg_9MyClUOc3sKe@ep-sweet-glitter-b1ma20y9-pooler.c-5.eu-central-1.aws.neon.tech/attendance_db?channel_binding=require&sslmode=require
JWT_SECRET=attendance-secret-key-super-secure-token-2026
NEXT_PUBLIC_APP_NAME="نظام الحضور والانصراف الذكي"
